*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 5000px;
}
.scroll-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 5px;
    width: 0;
    background-color: rgb(109, 19, 145);
}
.section{
    height: 700px;
}
.section h2{
    border: 1px solid #000;
    transform: translateX(-120%);
}
.section h2.active{
    background-color: brown;
    transform: translateX(0);
    transition:transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
#home{
    margin-top: 250px;
}


.scroll-top{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(69, 86, 117, 0.76);
    cursor: pointer;
    display: none;
    border-radius: 50%;
}
